<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Field</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Data Table</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>FieldID</th>
                    <th>FieldName</th>
                    <th>FieldTypeID</th>
                    <th>Description</th>
                   
                    
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>      
                    <td>{{ item.FieldID }}</td>
                    <td>{{ item.FieldName }}</td>
                    <td>{{ item.FieldType}}</td>
                    <td>{{ item.Description }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>